h1{
     color : #ffffff ;
}

h2{
     color : rgb(255, 140, 0);
     background-color: rgba(0, 229, 255, 0.816);
}

h3{
     color : #ff7800;
     background-color: #00aeff;
}

h5{
     font-family: league spartan;
     color : #ffa511;
     text-align: center;
     font-size: 55px;
     font-weight: 900;
     letter-spacing: 2px;
     line-height: 0;
     text-decoration: teal double underline;
     text-transform: uppercase;
}