.box {
     height: 100px;
     width: 300px;
     background-color: olive;
     color: aliceblue;

     /* properties */
     animation-name: fontAnimation ;
     animation-duration: 10s;
     animation-timing-function: ease-in;
     animation-delay: 1ms;
     animation-iteration-count: 3 ;
     animation-direction: normal;

     animation-name: colorAnimation;
     animation-duration: 10s;
     animation-timing-function: ease-in;
     animation-delay: 1ms;
     animation-iteration-count: 3 ;
     animation-direction: normal;

     animation: widthAnimation 5s ease-in 1ms 4 normal;
     /* animation-name: widthAnimation */
     /* animation-duration: 5s; */
     /* animation-timing-function: ease-out; */
     /* animation-delay: 1ms; */
     /* animation-iteration-count: 3 ; */
     /* animation-direction: normal; */

     animation: areaAnimation 4s ease-in 0ms 3 normal;
}

/* template (blueprint) */
@keyframes fontAnimation { 
     from {
          font-size: 20px;
     }
     to {
          font-size: 40px;
     }
}   

@keyframes colorAnimation {
     from{
          background-color: olive;
     }
     to{
          background-color: palevioletred;
     }
}

@keyframes widthAnimation {
     from{
          width:300px;
     }
     to{
          width:200px;
     }
}

/* % in Animation */
@keyframes areaAnimation {
     0%{
          height:100px ;
          background-color: olive;
     }
     40%{
          height: 200px;
          background-color: navy;
     }
     100%{
          height:80px;
          background-color: skyblue;
     }
}